$font-stack: Arial, sans-serif;
$primary-color: #222222;
$secondary-color: #ffce00;


body {
  font-family: $font-stack;
  font-size: 90%;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  background-image: url(/client/dist/asset/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

